/*tässä määritellään taustakuvan koko ja ja paikka sivulla, fontit*/
body,
html {
    background-image: url("taustakimi.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: contain;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}
/*Tässä määritellään ylöpalkin laatikoiden paikka ja koko jne*/
.yla {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: 100%;
    border: solid white 2px;
    padding: 5px;
}
/*Linkin väri*/
a {
    color: white;
}
/*tekstisiällön ulkonäköä ja paikka, opacity läpinäkyvä taustatekstille*/
article {
    position: fixed;
    text-align: center;
    width: 60%;
    right: 20%;
    background-color: black;
    background-color: lightslategray;
    opacity: 0.8;
    font-size: 15px;
    padding: 7px;
    box-sizing: content-box;
    color: white;
    font-weight: bold;

}
ul {
    columns: 3;


}
/*määritellään alareunan paikka, ulkonäköä ja  tekstin sijaintia jne*/
footer {
    background-color: black;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Tämän löysin w3schoolsista, kun etsin miten tehdä ruutuun mukautuvat sivut, Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens, */
@media (max-width: 600px) {
    article,
    div {
        width: 100%;
        height: auto;
    }
}
